.containerDetail {
  height: 100vh;
  background-color: #fff35f;
  overflow: hidden;
}
.detailPhoto {
  width: 500px;
  height: 500px;
  background-color: #feb4cd;
  border-radius: 30px;
  margin: 40px;
}
.detailPhoto img {
  width: 100%;
}
.detailText {
  float: right;
  position: relative;
  right: 600px;
  bottom: 300px;
}
.detailText h1 {
  font-size: 40px;
}

.detailText h2 {
  font-size: 40px;
}
.detailText p {
  font-size: 40px;
}
