* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Nunito", sans-serif;
}

.App-header {
  background-color: #fff35f;
  min-height: 100vh;
  display: flex;
  font-size: 10rem;
  flex-direction: column;
  overflow: hidden;
}
.menu {
  display: flex;
  position: relative;
  margin: 2rem;
  gap: 2rem;
}
.menu ul {
  display: flex;
  gap: 10rem;
  color: #194eea;
  list-style: none;
  margin-top: 0.5rem;
}

.menu li {
  cursor: pointer;
}

.textButton {
  -webkit-text-stroke: 2px #194eea;
  color: transparent;
  font-size: 35px;
}

.logo {
  position: relative;
  margin: 0 auto;
  width: 45%;
  margin-top: 10rem;
}
