.botonesAdd {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.add {
  position: relative;
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ff5ff7;
  z-index: 2;
}
.contador {
  position: relative;
  width: 206px;
  height: 52px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  text-align: center;

  font-size: 40px;
}
